
 .szinvalto{
    width: 20px;
    height: 20px; }

 


#francia{
    width: auto;
    height: 90px;
}

#angol{
    width: auto;
    height: 90px;
}

#magyar{
    width: auto;
    height: 90px;
}